db.sqlite3
manage.py
sketch1603900755770.png
__pycache__
box_whiskers_demo/settings.py
box_whiskers_demo/__pycache__
boxplot/__pycache__
boxplot/migrations/__pycache__
.vscode
tmp_txt.py
boxplot/.ipynb_checkpoints/models-checkpoint.py
boxplot/.ipynb_checkpoints/plot-checkpoint.ipynb
