{% extends "base.html" %}
{% block page_title %} Demo boxplot {% endblock %}
{% block page_contents %}
        {% if request.method|upper == 'GET' %}
        <h1>My 1st Django App</h1>
        <h2>HTML FORM</h2>
        <p>
            When specified with no attributes, as below, the
            <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/form"
               title="MOZILLA LEARN: The HTML <form> element represents a document section containing interactive controls for submitting information.">
                   <code>&lt;form&gt;</code>
            </a> 
            data is sent to the same page that the form is present on.
        </p>
        {%  endif  %}
        <!-- Fra tutorial -->
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <form action="elev_aflevering" method="post">
        {% csrf_token %}
        {% for samtalepartner in elev %}
            <input type="radio" 
                   name="elev" 
                   id="elev{{ forloop.counter  }}" 
                   value="{{ samtalepartner.id }}">
            <label for="elev{{ forloop.counter  }}">
                {% if samtalepartner.id|slugify == request.POST.elev %}
                <b>{{ samtalepartner.fulde_navn }}</b>
                {% else %}
                {{ samtalepartner.fulde_navn }}
                {% endif %}
            </label>
            <br>
        {% endfor %}
        <input type="submit" value="Vis observationer">
        </form>
        {% if request.method|upper == 'GET' %}
        <h2>Data input</h2>
        <p>Afleveringer:</p>
        <ul>
            {% for k in seneste_aflevering_list %}
            <li>{{ k.titel }}</li>
            {% endfor %}
        </ul>
        <p class="todo">Huskeliste:</p>
        <ul class="todo" title="To Do List" >
           <!-- class="done" eller tom. -->
           <li class="done">Statiske filer (CSS, favicon) har et sted at bo.</li>
           <li class="done">
               Liste med registrerede afleveringsopgaver registreres som skabelon-variabel.
           </li> 
           <li class="done">
               Data <i>bootstrap</i>pes ind i appen: 
               Liste med <code>Elever</code> fra <code>Klasse</code> på test-<code>Skole</code>.
               Bedømt demo-<code>Aflevering</code> og
               tilhørende <code>AssessmentScore</code> for hver elev i klassen.
               Efter manuel <i>bootstrapping</i> af udviklingsversion er 
               <a href="https://github.com/engelsmann/boxplot/blob/master/db_backup.py">
                script til SQL-dump
               </a>
               oprettet, og distribueres på GitHub, så en hurtigere <i>bootstrapping</i>
               kan finde sted ved test i produktionsmiljøer.
           </li>
           <li class="">Interaktivitet
              <ol>
                <li class="done">Jeg starter med at følge 
                    <a href="https://docs.djangoproject.com/en/3.1/intro/tutorial04/"
                       title="Django documentation site, tutorial 4">Tut 4</a>.
                    Den fjerde del af vejledningen indfører <i>blanketter</i>,
                    eller <code>form</code>-elementer på siden.
                </li>
                <li class="done">
                    Dokumentation af
                    <a href="https://docs.djangoproject.com/en/3.1/topics/forms/#building-a-form-in-django"
                       title="Official Django documentation on the 'Working with Forms'">
                       Django <code>Forms</code> klassen
                    </a>
                    og <code>myproj/boxplot/forms.py</code> filen.
                </li>
                <li class="done">
                    Elevnavne hentes over i skabelon: 
                    Fra
                    <a href="https://github.com/engelsmann/boxplot/blob/054fac967c31222186117a832141172e0289d2e7/boxplot/views.py#L26"
                       title="Link til GitHub versionen af filen, da dette lykkedes. Kan senere være opdateret yderligere, men denne version var første gang det lykkedes at få Elev-data over i index-skabelonen.">
                            <code>views.py</code> sendes
                    </a>  
                    et <code>QuerySet</code> hentet i <code>Elev</code>-modellen
                    og <i>castet</i> som liste.
                    Listen sendes med <code>render()</code>-parameteren
                    <code>context</code> til det <i>template</i>,
                    som ligeledes udpeges overfor <code>render()</code>.
                </li>
                <li class="done">
                    Dropdown-felt / radioknap-liste vises og netop 1 elev kan vælges fra listen.
                </li>
                <li class="done">
                    Valgt elev vises som <i>overlay</i> i diagram.
                </li>
                <li class="">
                    Info på denne side, som ikke har med funktionalitet at gøre,
                    men mere er til læringsbrug,
                    <b>skjules</b> når en elev er valgt og FORM indsendt 
                    (<code>POST</code>ed).
                </li>
                <li class="">Valgt elev uden bedømmelse af aflevering håndteres</li>
                <li class="">
                    For at fungere kræver en dropdown at være del af en HTML FORM.
                    Men hvordan skal jeg bruge Django Forms'
                    <a href="https://docs.djangoproject.com/en/3.1/ref/forms/fields/#choicefield">Choicefield</a>,
                    så det bliver element i den <code>Form</code>, 
                    jeg har oprettet i <code>index.html</code> skabelonen?
                </li>
              </ol>    
           </li>
           <li class="done">Indbyggede skabelon-<code>tag</code>s opfattes som ønsket.</li>
           <li class="done">
               Nedarvning af skabelon fra <code>base.html</code> til
               <code>index.html</code> og  <code>elev_aflevering.html</code>.
            </li>
           <li class="done">Test automatiseres i overensstemmelse med 
               <a href="https://www.obeythetestinggoat.com/book/part1.harry.html">Obey the Testing Goat</a>-bogen.
               (Funktionelle tests med <b>Selenium</b> browserautomatisering
               og enhedstests med Pythons <code>unittest</code> modul).
            </li>
            <li class="">
                Django (unit) tests.
            </li>
            <li class="done">
               For at kunne samle GIT gren <code>test_suite_1</code> med
               <code>main</code> på GitHub sørger jeg for at følge
               <a href="https://docs.djangoproject.com/en/3.1/intro/tutorial05/"
                  title="Django Tutorial, del 5 om automatiserede test">
                  Tut5,
                </a>
                så en
                <a href="https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/about-pull-requests">
                    pull request
                </a>
                kan behandles (grenene samles, <i>merge</i>s) på 
                <a href="https://docu.github.com/articles/using-pull-requests">GitHub</a>.
                Det viser sig dog, at en <code>git merge</code>, hvor der ikke er behov
                for manuel behandling, kan klares fra den lokale maskine.
                Kun ved behov for manuel tilpasning af kode, 
                giver <i>GitHub pull request</i> mening.
           </li>
           <li class="">
               (Huskelistens punkter enten afkrydsningsfirkant eller flueben 
               - Unicode 0x25a1: □, 0x2714: ✔).
            </li>
            <li class="">(Knap til upload af fil) - udelades i minimal version.</li>
            <li class="">(Link til fil download) - udelades i minimal  version.</li>
        </ul>
        {% endif %}
{% endblock %}
