{% load static %}<!DOCTYPE html lang="da">
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block page_title %}No tag <code>page_title</code>{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        {% block page_contents %}
            <p>
                Tag <code>page_contents</code> not specified in
                <code>context</code> argument passed by View to inheriting template.
            </p> 
        {%  endblock  %}
        <table id="page_footer" width="100%">
            <tr>
                <td>
                    <a href="/" id="link_home">Demo startside</a>
                </td>
                <td align="right">
                    <a href="https://github.com/engelsmann/boxplot" id="link_github">GitHub repo</a>
                </td>
                <!-- ONE THING THAT MAY BE ADDED TO FOOTER IS XHTML VALIDATION, https://validator.w3.org/#validate_by_uri
                     If templates produce XML (XHTML), XPath can be used by Selenium webdriver.
                     ONE MORE THING IS MY STACK EXCHANGE FLAIR https://stackexchange.com/users/476885/engelsmann?tab=flair
                    td>
                    <a href="/"></a>
                </td  -->
            </tr>
        </table>
    </body>
</html>