{% load static %}<!DOCTYPE html lang="da">
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block page_title %}No tag <code>page_title</code>{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        {% block page_contents %}
            <p>
                Tag <code>page_contents</code> not specified in
                <code>context</code> argument passed by View to inheriting template.
            </p> 
        {%  endblock  %}
        <table id="page_footer" width="100%">
            <tr>
                <td valign="bottom">
                    <a href="/" id="link_home" title="Return to landing page">
                        Demo startside
                        <!--
                            Overvej: 
                              (1) Versionsnummer på denne plads,
                                  når i index.
                              (2) Henvisning til "modsat" produktionsdemo,
                                  når i produktion OG både PythonAnywhere og
                                  Azure Web Site kører.
                        -->
                    </a>
                </td>
                <td align="center" valign="bottom">
                    <a href="https://github.com/engelsmann/boxplot" id="link_github">
                        <img 
                            src="{% static '200px-Octicons-mark-github.png' %}"
                            height="80" 
                            width="80" 
                            title="The demo project's GitHub repository"
                        >
                    </a>
                </td>
                <td align="center" valign="bottom">
                    <a href="" id="link_azure_c_repo">
                        <img 
                            src="{% static 'acr.png' %}"
                            height="58" 
                            width="212" 
                            title="The project's container in my Azure repository"
                        >
                    </a>
                </td>
                <!-- 
                <td>
                    <a href="/"></a>
                </td>
                -->
                <td align="center"
                    >
                    <!-- title="MS 98-381 certificate" -->
                    <div 
                        data-iframe-width="135" 
                        data-iframe-height="135" 
                        data-share-badge-id="d9115396-6c02-4a09-b35a-2d068321f36f" 
                        data-share-badge-host="https://www.youracclaim.com">
                    </div>
                    <script 
                        type="text/javascript" 
                        async 
                        src="//cdn.youracclaim.com/assets/utilities/embed.js">
                    </script>
                </td>
                <td align="right" valign="bottom">
<!--                    StackExchange <i>flair</i><br /> -->
                    <a href="https://stackexchange.com/users/476885/engelsmann">
                        <img 
                            src="https://stackexchange.com/users/flair/476885.png" 
                            width="208" 
                            height="58" 
                            alt="Profile for engelsmann on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for engelsmann on Stack Exchange, a network of free, community-driven Q&amp;A sites"
                        />
                    </a>
                </td>
            </tr>
        </table>
    </body>
</html>